<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Form</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>

  <body>
    <div class="bg-blue min-vh-100 min-vw-100 p-4 d-flex">
      <div class="w-100 shadow-sm bg-white border rounded-3 p-4">
        <div class="d-flex justify-content-between px-1 align-items-center mb-4">
          <h3><span class="underline">All</span> Users</h3>
          <button class="btn btn-primary bg-blue" onclick="window.location.href='/addNew'">Add New User</button>
        </div>
        <table class="table table-responsive table-striped border">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Address</th>
              <th>Gender</th>
              <th>Hobbies</th>
              <th>Preferences</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if (locals.content) { %> <% for( let index = 0; index < content.length; index++ ) { %>
            <tr>
              <td><%= content[index].id %></td>
              <td><%= content[index].name %></td>
              <td><%= content[index].email %></td>
              <td><%= content[index].mobile %></td>
              <td><%= content[index].address %></td>
              <td><%= content[index].gender %></td>
              <td><%= content[index].hobbies %></td>
              <td><%= content[index].preferences %></td>
              <td>
                <button class="btn btn-success" onclick="window.location.href='/edit/<%=content[index].id%>'">Edit</button>
                <button class="btn btn-danger" onclick="window.location.href='/delete/<%=content[index].id%>'">Delete</button>
              </td>
            </tr>
            <% } %> <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
